/* 6つのp要素に適用するスタイルを宣言 */
p{
    color: white;
    background-color: blue;
}
#red{
    color: red;
}
.yellow{
    color: yellow;
}
/* 6つのli要素に適用するスタイルを宣言 */
li{
    font-size: 16px;
    color: yellow;
    background-color: gray;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.back-green{
    background-color: green;
}
.back-brown{
    background-color: brown;
}
.fontsize{
    font-size: 12px;
}